Options -Indexes
DirectoryIndex disabled

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>

<IfModule mod_headers.c>
Header always set Content-Type "application/json; charset=UTF-8"
</IfModule>

<FilesMatch "\.(env|ini|log|sql|md)$">
Require all denied
</FilesMatch>
